[user]
	name = Tsungyu Yu
	email = ytyubox@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
    helper = osxkeychain
[alias]
	cv = commit -v
	cho = checkout
	br = branch
	st = status
	co = checkout
	ci = commit
	lg = log --oneline --graph --decorate
[core]
	excludesfile = $HOME/.gitignore_global
	ignoreCase = true
	editor = $(which vim)
[pull]
	rebase = true
[push]
	default = current
	followTags = true
[init]
	defaultBranch = main
[maintenance]
	repo = /Users/tsungyu/code/LeetCodeCollection
[apply]
	whitespace = fix
